{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    {% for post in posts %}
    <div class="card my-5 col-sm-8">
      <div class="card-header">
        {{ post.title }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.desc }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
