{% extends 'blog/base.html' %}
{% load static %}
{% comment %} {% block title %} Change Password Done {% endblock %} {% endcomment %}
{% block content %}
<div class="container my-5">
    <div class="row">
        {% comment %} <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                </li>
            </ul>
        </div> {% endcomment %}
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3 class="text-danger">Password Changed Successfuly !!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"  frameborder="0" class="giphy-embed" allowFullScreen>
                </iframe>
            </div>
            <a href="{% url 'dashboard' %}" class="btn btn-primary my-5">Go to Dashboard</a>

        </div>
    </div>
</div>
{% endblock content %}