{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Password Reset Complete {% endblock title %}
{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-4 ">
            <h3>Reset Password Completed!!</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"  frameborder="0" class="giphy-embed" allowFullScreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}