{% extends 'blog/base.html' %}
{% load static %}
{% block title %}SignUp Page {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
            <div class="card border-danger rounded-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Become an Author</h3>
                    {% if messages %}
                        {% for m in messages %}
                            <p {% if m.tags %} class="alert alert-{{m.tags}} mb-3 text-center"{% endif %} > {{m}}</p>
                        {% endfor %}
                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                <small class="text-danger">{{ field.errors|striptags }}</small>
                            </div>
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        <div class="text-center">
                            <input type="submit" value="Submit" class="btn btn-primary btn-lg mt-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
